/.build-10.5-0.1.20100719svn31977.fc13.log
/.build-10.5-0.1.20100719svn31977.fc14.log
/.gitignore~
/CVS
/Makefile
/sources
/xbmc-9.11-patched.tar.xz
/xbmc-12.0-Frodo_alpha6-patched.tar.xz
/xbmc-12.0-Frodo_alpha7-patched.tar.xz
/xbmc-pvr-addons-1e666ced21-patched.tar.xz
/xbmc-12.0-Frodo_beta2-patched.tar.xz
/xbmc-12.0-Frodo_rc1-patched.tar.xz
